################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/YodaClock/.vs/YodaClock/DesignTimeBuild/.dtbcache.v2
